__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak
.env
.env.*
!.env.template
!.env.example
app.db
app.db-
uploads/
.vectordbs
mnt/
*.log
logs/
.vscode/
.idea/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.DS_Store
home/
