fastapi
uvicorn
langchain
langchain-openai
langchain-community
chromadb
sentence-transformers
langchain-huggingface
langchain-core
langchain-experimental
pydantic
pydantic[email]
python-multipart
python-dotenv
PyPDF2
argon2-cffi
python-jose[cryptography]
aiofiles
sqlalchemy
requests
streamlit
