fastapi==0.115.3

uvicorn==0.22.0

langchain

langchain-openai

langchain-community

chromadb

sentence-transformers

langchain_huggingface

langchain-core

langchain_experimental

pydantic==2.7.1

pydantic[email]==2.7.1

python-multipart==0.0.12

numpy==1.26.5

python-dotenv==1.0.0

PyPDF2==3.0.1

pandas==2.0.3

argon2-cffi==21.3.0

python-jose[cryptography]==3.3.0

aiofiles==23.1.0

sqlalchemy==2.0.20

requests==2.31.0

streamlit==1.26.0