fastapi==0.115.3

uvicorn

langchain

langchain-openai

langchain-community

chromadb

sentence-transformers

langchain_huggingface

langchain-core

langchain_experimental

pydantic

pydantic[email]

python-multipart

numpy

python-dotenv

PyPDF2

pandas

argon2-cffi

python-jose[cryptography]

aiofiles

sqlalchemy

requests

streamlit