fastapi
uvicorn
langchain
langchain-openai
langchain-community
chromadb
sentence-transformers
langchain_huggingface
langchain-core
langchain_experimental
pydantic
python-multipart
typing-extensions
numpy
python-dotenv
PyPDF2
pandas
argon2-cffi
python-jose[cryptography]
aiofiles
sqlalchemy
pydantic[email]
requests
pydantic_models